
{% block body %}
    <title>{% block title %}Sign In and Sign Up!{% endblock %}</title>
    <!-- SignInSignUp style -->
    <link rel="stylesheet" href="{{asset('assets/css/style.css')}}">

    <div class="container" >
        <div class="forms-container">
            <div class="signin-signup" style="margin-top: 0px">

                {{ form_start(form) }}

                    <h2 class="title" >Login</h2>


                    <div  hidden>
                        {{ form_label(form.firstName," ") }}
                        {{ form_errors(form.firstName) }}
                        {{ form_widget(form.firstName, {'attr':{'class':'form-control p_input','value': 'empty'}}) }}
                    </div>

                <div hidden >

                    {{ form_label(form.lastName," ") }}
                    {{ form_errors(form.lastName) }}
                    {{ form_widget(form.lastName, {'attr':{'class':'form-control p_input', 'value': 'empty'}}) }}
                </div>

                <div hidden>

                    {{ form_label(form.username," ") }}
                    {{ form_errors(form.username) }}
                    {{ form_widget(form.username, {'attr':{'class':'form-control p_input', 'value': 'empty'}}) }}
                </div>
                <p >Email</p>
                <div class="input-field">

                    {{ form_label(form.email," ") }}
                    {{ form_errors(form.email) }}
                    {{ form_widget(form.email, {'attr':{'class':'form-control p_input'}}) }}
                </div>
                <p >Password</p>
                <div class="input-field">

                    {{ form_label(form.password," ") }}
                    {{ form_errors(form.password) }}
                    {{ form_widget(form.password, {'attr':{'class':'form-control p_input'}}) }}
                </div>

                <div hidden>

                    {{ form_label(form.phoneNumber," ") }}
                    {{ form_errors(form.phoneNumber) }}
                    {{ form_widget(form.phoneNumber, {'attr':{'class':'form-control p_input', 'value': '0000000000000'}}) }}
                </div>

                <div hidden>

                    {{ form_label(form.gender," ") }}
                    {{ form_errors(form.gender) }}
                    {{ form_widget(form.gender, {'attr':{'class':'form-control p_input', 'value': 'empty'}}) }}
                </div>

                <div hidden>

                    {{ form_label(form.role," ") }}
                    {{ form_errors(form.role) }}
                    {{ form_widget(form.role, {'attr':{'class':'form-control p_input', 'value': 'empty'}}) }}
                </div>
                {{ form_row(form.Confirm, {'attr': {'class' : 'btn btn-success btn-block enter-btn'}} ) }}


                {{ form_end(form) }}
            </div>
        </div>

        <div class="panels-container">
            <div class="panel left-panel">
                <div class="content">
                    <h3 style="font-size: 30px">Already have an account ?</h3>

                    <button class="btn transparent" style="margin-top: 20px">
                        <a href="{{ path('app_user_new') }}"> Sign in</a>

                    </button>
                </div>
                <img src="{{asset ('assets/img/log.svg') }}" class="image" alt="" />
            </div>

        </div>
    </div>

    <script src="{{asset('assets/js/app.js')}}"></script>

{% endblock %}